<div class="container">
  <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
    <div
      class="row"
      *ngFor="let item of items; let i = index"
      cdkDrag
      (cdkDragStarted)="onDragStarted($event, i)"
      [cdkDragDisabled]="!item.checked"
      cdkDragPreviewClass="select-item-drag-preview"
    >
      <div class="check-box"
        ><mat-checkbox class="checkbox" [(ngModel)]="item.checked" (change)="onSelectItem($event, i)"></mat-checkbox
      ></div>
      <div class="index"><b>{{item.id}}</b></div>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <div class="select-item-drag-preview" *cdkDragPreview>
        {{item.name}}
        <div class="drag-counter">{{this.selectedItems.length}}</div>
      </div>
      <div [ngClass]="{'selected': item.checked}">{{item.name}}</div>
    </div>
  </div></div
>
