<div class="container">
  <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
    <div
      class="row"
      *ngFor="let item of items"
      cdkDrag
      (cdkDragStarted)="onDragStarted($event)"
      [cdkDragDisabled]="!item.checked"
    >
      <div class="check-box"
        ><mat-checkbox class="checkbox" [(ngModel)]="item.checked" (change)="onSelectItem($event)"></mat-checkbox
      ></div>
      <div class="index"><b>{{item.id}}</b></div>
      <div class="item-placeholder" *cdkDragPlaceholder></div>
      <div [ngClass]="{'selected': item.checked}">{{item.name}}</div>

      <div *cdkDragPreview>
        <div
          *ngFor="let item of selectedItems; let i = index;"
          class="select-item-drag-preview-{{i}}"
          [ngStyle]="{'position':'relative', 'top':-60*i+'px', 'left':-15*i+'px','z-index':-i+1}"
        >
          <span *ngIf="i === 0">{{item.name}}</span>
          <div *ngIf="selectedItems.length > 1 && i ===0 " class="drag-counter">{{this.selectedItems.length}}</div>
        </div>
      </div>
    </div>
  </div></div
>

<div class="check" #ref></div>
